<a href="https://colab.research.google.com/github/KLeeDE/Python/blob/master/1_Python_Week1_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**GEOG473-673 Python Week1**

GEOG673 Select Technical Topics 

Kyungmin Lee / @KLeeDE

Nov 25, 2020

#Tutorial

https://github.com/jsimkins2/geog473-673/blob/master/Python/Introduction_to_Python.ipynb

## Variables

In [1]:
var1 = 1 #integer
var2 = 2.34 # floating point numbers
var3 = 5.6+7.8j #complex numbers
var4 = "Hellow World" # strings
var5 = True #booleans
var6 = None # special values to indicate the absence of a value

In [2]:
x = 5.333
y = int(x)
print(y, type(y))
print(x, type(x))

5 <class 'int'>
5.333 <class 'float'>

## Assignning variables and using operators

In [5]:
#-Convert degrees Celsius to degrees Fahrenheit
temp_c = 10
temp_f = temp_c * 9/5 + 32

In [6]:
5>9

False

In [7]:
10 == 3

False

In [8]:
12 <= 100

True

In [9]:
12 != 3.4

True

In [10]:
b = 3 > 8

In [11]:
print(b)

False

In [12]:
type(b)

bool

##Data types

In [ ]:
var1 = 1 #integer
var2 = 2.34 # floating point numbers
var3 = 5.6+7.8j #complex numbers
var4 = "Hellow World" # strings
var5 = True #booleans
var6 = None # special values to indicate the absence of a value

In [16]:
print("var1 value:", var1, "/ type:", type(var1)) 
print("var2 value:", var2, "/ type:", type(var2)) 
print("var3 value:", var3, "/ type:", type(var3)) # Complex numbers = a+bi (복소수)
print("var4 value:", var4, "/ type:", type(var4)) 
print("var5 value:", var5, "/ type:", type(var5)) # Boolean 
print("var6 value:", var6, "/ type:", type(var6))

var1 value: 1 / type: <class 'int'>
var2 value: 2.34 / type: <class 'float'>
var3 value: (5.6+7.8j) / type: <class 'complex'>
var4 value: Hellow World / type: <class 'str'>
var5 value: True / type: <class 'bool'>
var6 value: None / type: <class 'NoneType'>

**Note (Boolean data)**: In computer science, the Boolean data type is a data type that has one of two possible values (usually denoted true and false); 불리언 자료형(논리 자료형)

##Containers

In [17]:
# Lists
weather = ["rain", "snow", "hail"]
print(weather)
print("length:", len(weather))

['rain', 'snow', 'hail']
length: 3

In [18]:
mixed_type_list = ["rain", 4.5, 99, None]
print(mixed_type_list)

['rain', 4.5, 99, None]

In [19]:
# Add element
weather = ["rain", "snow", "hail"]
weather.append("drizzle") 
print(weather)

['rain', 'snow', 'hail', 'drizzle']

In [20]:
# Insert groupel before position 1
weather = ["rain", "snow", "hail"]
weather.insert(1, "graupel")
print(weather)

['rain', 'graupel', 'snow', 'hail']

In [21]:
# Remove the first element from the list
weather = ["rain", "snow", "hail"]
del weather[0]
print(weather)

['snow', 'hail']

In [22]:
# Remove the last item from the list and store it in hydrometeor
weather = ["rain", "snow", "hail"]
observation = weather.pop()
print("observation:", observation)
print("weather:", weather)

observation: hail
weather: ['rain', 'snow']

## Elements of a list can be changed

In [23]:
weather = ["rain", "snow", "hail"]
print("Before changes:", weather)
weather[0] = 'select'
print("After chagnes:", weather)

Before changes: ['rain', 'snow', 'hail']
After chagnes: ['select', 'snow', 'hail']

##List indexing

In [24]:
# List indexing 
weather = ["rain", "snow", "hail"]
print("index 0:", weather[0])
print("index 1:", weather[1])
print("index 2:", weather[2])

index 0: rain
index 1: snow
index 2: hail

In [25]:
weather[3] # Trying to access elements which do not exist raises a IndexError

IndexError: ignored

In [26]:
weather = ["rain", "snow", "hail"]
print("index -1:", weather[-1])
print("index -2:", weather[-2])
print("index -3:", weather[-3])

index -1: hail
index -2: snow
index -3: rain

##List slicing
Syntax: list_variables[start:end:step]

구문 또는 신택스(syntax)란 프로그래밍 언어에서 프로그램의 모습, 형태, 구조가 어떻게 보이는지에 대해 정의하는 것이며, 구문은 정해진 문법을 이용한다.

In [27]:
weather = ['rain', 'snow', 'hail', 'drizzle', 'graupel', 'sleet']
print(weather[2:4])

['hail', 'drizzle']

In [28]:
weather[:3]

['rain', 'snow', 'hail']

In [29]:
weather[3:]

['drizzle', 'graupel', 'sleet']

In [30]:
weather[3:-1]

['drizzle', 'graupel']

##Tuples

튜플(tuple)은 셀 수 있는 수량의 순서 있는 열거이다. 

Tuple 자료형은 여러 개의 원소를 담고 있고 각 원소가 순서대로 나열되어 있다는 점에서 List 자료형과 비슷하다. 다만, List는 원소 값을 추가, 삭제, 변경할 수 있지만 Tuple은 원소 값에 변화를 줄 수 없다는 점에서 차이가 있다 (immutable).

In [32]:
t = ("rain", "snow", "hail")
print(t)
print(len(t))

('rain', 'snow', 'hail')
3

In [33]:
t[0] = "sleet" # Tuples cannot be changed

TypeError: ignored

In [34]:

observations = ('rain', 'snow', 'hail')  # tuple with three elements
obs1, obs2, obs3 = observations    # unpack tuple into obs1, obs2, obs3 variables
print("observations:", observations)
print("obs1:", obs1)
print("obs2:", obs2)
print("obs3:", obs3)

observations: ('rain', 'snow', 'hail')
obs1: rain
obs2: snow
obs3: hail

## Strings

In [35]:
'Hi'
b = "Hello, I'm John"
print(b)

a = 'On'
b = 'Wisconsin'
print(a + ' ' + b + '!')

# Convert a float to a string
str(5.43)

Hello, I'm John
On Wisconsin!

'5.43'

In [41]:
x = 9.356392
y = 29
print('The value of x is {}'.format(x))
print('The value of y is {}'.format(y))
print('The value of x is {} and the value of y is {}'.format(x, y))
print('The value of x is {:.3} and the value of y is {:04}'.format(x, y))

The value of x is 9.356392
The value of y is 29
The value of x is 9.356392 and the value of y is 29
The value of x is 9.36 and the value of y is 0029

In [42]:
#You can also use the string modulo % operator
print('The value of x is: %s' % x)

The value of x is: 9.356392

In [43]:
#The first string modulus % indicates the format of the variable after the second %
x = '%6.1f is less than %3d' % (x, 10)
print(x)

   9.4 is less than  10

##Dictionaries

In [49]:
d = {'site': 'KDOX', 'wind_speed': 20, 'wind_direction': 'east'}

print(d.keys())
print(d.values())

dict_keys(['site', 'wind_speed', 'wind_direction'])
dict_values(['KDOX', 20, 'east'])

In [50]:
print('site:', d['site'])
print('wind_speed:', d['wind_speed'])
print('wind_direction:', d['wind_direction'])

site: KDOX
wind_speed: 20
wind_direction: east

In [51]:
print("wind before change:", d['wind_direction'])
d['wind'] = 'west'
print("wind after change:", d['wind_direction'])

wind before change: east
wind after change: east

In [52]:
d = {'site': 'KDOX', 'wind_speed': 20, 'wind_direction': 'east'} 
print(d)

{'site': 'KDOX', 'wind_speed': 20, 'wind_direction': 'east'}

In [53]:
del d['wind_direction']
print(d)

{'site': 'KDOX', 'wind_speed': 20}

In [54]:
d['wind_direction']  = 'east'
d['wind_speed'] = '10 m/s'
print(d)

{'site': 'KDOX', 'wind_speed': '10 m/s', 'wind_direction': 'east'}

##Flow control

In [55]:
hydrometeor = 'rain'
if hydrometeor == 'rain':
    print("You saw rain")

You saw rain

In [56]:
hydrometeor = 'hail'
if hydrometeor == 'rain':
    print("You saw rain")
else:
    print("You did NOT see rain")

You did NOT see rain

In [57]:
hydrometeor = 'snow'
if hydrometeor == 'rain':
    print("You saw rain")
elif hydrometeor == 'snow':
    print("You saw snow")
else:
    print("I do not know what you saw")

You saw snow

##For Loop

for: executes a block of code for all items in an iterable object (string, list, tuple, array, etc.).

--


For loop syntax:

for [variable to iterate] in [sequence]:     [do this code]


Reference: https://www.tutorialspoint.com/python3/python_for_loop.htm

In [58]:
weather = ['rain', 'snow', 'hail']
for hydrometeor in weather:  # loop over elements in a list
    print(hydrometeor)

rain
snow
hail

In [59]:
for i in range(5):  # loop over the number 0 to 4
    print(i)

0
1
2
3
4

In [60]:
d = {'site': 'KLOT', 'amount': 20, 'wind': 'east'} 
for key, value in d.items():
    print(key, ':', value)

site : KLOT
amount : 20
wind : east

##Libraries
* Python has a large number of libraries which extend the basic functionality.
* The standard library is included with Python and contains a number of helpful features.
* Third-party libraries can add even more powerful functionality!
* Libraries must be imported to be used.

In [66]:
import math  # import the entire math module
math.sqrt(2)

1.4142135623730951

In [67]:
import math as m
m.sqrt(2)

1.4142135623730951

In [68]:
from random import randrange   # import just the randrange function from the random module

for i in range(5):
    print(randrange(1, 10))

7
5
1
7
7

##Functions

In [69]:
# simple
def func(arg1):
    print(arg1)
    return 42

In [70]:
def add_numbers(number1, number2):
    return number1 + number2

def say_hello():
    print("Hello !!")
    
def favorite_hydrometeor(name, tvshow='Game of Thrones...well minus the last season'):
    print("Hello", name)
    print("Your favorite tvshow is", tvshow)

In [71]:
# call a function
return_value = func("Hello World")
print("ret_value:", return_value)

Hello World
ret_value: 42

In [72]:
print(add_numbers(1, 2))

3

In [73]:
say_hello()

Hello !!

In [74]:
favorite_hydrometeor("Jonathan")

Hello Jonathan
Your favorite tvshow is Game of Thrones...well minus the last season

In [76]:
def area(radius):
    area = 3.14 * (radius**2)
    return area, area*2, area*3, ""

area(4)

(50.24, 100.48, 150.72, '')